@charset "utf-8";
/* CSS Document */

body {
	background-color: rebeccapurple;
}

h2 {
    color: goldenrod;
    text-decoration: underline 5px black;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
}
img {
	width: 400px;
	border: 15px dotted silver;
	border-radius: 50%;
}
img:hover {
	border: 25px dashed black;
}
h1 {
	color: blue;
	text-decoration: underline zigzag;
}
nav {
  background-color: #333;
  width: 100%;
  padding: 12px 20px
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 0;
  padding: 0;
}

nav li {
  margin: 0;
  padding: 0;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 17px;
}
